.env
__pycache__/
*.pyc
.venv/
.DS_Store
src/cold_harbour/core/destinations_local.py
src/cold_harbour/core/destinations.py
airflow_simple_auth_passwords.json
config/airflow_simple_auth_passwords.json
src/coldharbour_manager.egg-info/
./logs
./claude