name: cold_harbour_dashboard

services:
  manager:
    build:
      context: .
    image: cold_harbour/manager:dev
    container_name: manager
    working_dir: /app
    entrypoint:
      - watchmedo
      - auto-restart
      - "--directory=/app/src/cold_harbour/services/account_manager"
      - "--pattern=*.py"
      - "--recursive"
      - --
      - python
      - -m
      - cold_harbour.manager_run
    env_file: .env
    volumes:
      - ./src:/app/src
    restart: unless-stopped

  web:
    build:
      context: .
    image: cold_harbour/web:dev
    container_name: web
    working_dir: /app
    env_file: .env
    environment:
      WEB_RELOAD: "1"
    ports:
      - "5000:5000"
    volumes:
      - ./src:/app/src
    restart: unless-stopped

  ingester:
    build:
      context: .
    image: cold_harbour/ingester:dev
    container_name: ingester
    working_dir: /app
    
    # We use watchmedo to monitor changes in /app/src and restart the process
    entrypoint:
      - watchmedo
      - auto-restart
      - "--directory=/app/src/cold_harbour/services/activity_ingester"
      - "--pattern=*.py"
      - "--recursive"
      - --
      - python
      - -m
      - cold_harbour.services.activity_ingester.ingester_run
      
    env_file: .env
    volumes:
      - ./src:/app/src
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512M
        reservations:
          cpus: '0.10'
          memory: 128M
