multiprocess
tqdm
pandas-datareader
numpy
numba
scikit-learn
xgboost
pandas_market_calendars
alpaca-py
alpaca-trade-api
websocket-client
clickhouse-driver
schedule
nest_asyncio
lightgbm
pyzmq
pyarrow
confluent-kafka
requests
asyncpg
